.subscription-list {
    margin-left: 93px;
  display: block;
  }
  .subscription-list-title {
    font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
  }
  .subscription-list-footer {
    text-align: center;
  position: relative;
  display: flex;
  }
  .subscription-list-mail {
    background: #2F303A;
  box-sizing: border-box;
  width: 358px;
  height: 50px;
  left: 815px;
  top: 2784px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  transition-property: transform, filter;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 12px;
  }
  .subscription-list-btn {
    display: flex;
  padding-top: 5px;
  padding-right: 28px;
  padding-bottom: 5px;
  padding-left: 28px;
  left: 1185px;
  top: 2784px;
  background: #2196F3;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 2.4;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  padding-right: 40px;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .subscription-list-icon {
    display: flex;
  fill: #ffffff;
  margin-left: 10px;
  bottom: 50%;
  
  }