.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }
  
  .contact-nav {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }
  
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }


 