.mobile-nav,
.mobile-contact,
.mobile-social {
  @extend %list;
}

.mobile-nav__link,
.mobile-contact__link,
.mobile-social__link {
  @extend %link;
}

.mobile-menu__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.mobile-menu__btn:hover .mobile-menu__icon-cross,
.mobile-menu__btn:focus .mobile-menu__icon-cross {
  fill: var(--accent-color);
}

.mobil-menu {
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  padding: 10px 15px 48px 40px;
  background-color: var(--main-bg-color);
  transform: translateX(100%);
  transition: transform 250ms linear;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mobil-menu.is-open {
  transform: translateX(0);
}

// mobail-nav

.mobile-nav__link {
  @media screen and (max-width: 400px) {
    font-size: 30px;
  }
  font-weight: 500;
  font-size: 40px;

  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--main-color);

  &--current {
    color: var(--accent-color);
  }
}

.mobile-nav__item:not(:last-child) {
  @media screen and (max-width: 400px) {
    margin-bottom: 25px;
  }
  margin-bottom: 32px;
}

.mobile-nav__link:hover,
.mobile-nav__link:focus {
  color: var(--accent-color);
}

// mobail-contact

.mobile-contact {
  margin-top: 16.85vh;
  @media screen and (min-width: 480px) {
    margin-top: 48.48vh;
  }
}

.mobile-contact__item:not(:last-child) {
  @media screen and (max-width: 400px) {
    margin-bottom: 25px;
  }
  margin-bottom: 32px;
}

.mobile-contact__link {
  font-size: 24px;
  line-height: 1.17;
  color: var(--secondary-color);

  &--indent {
    font-weight: 500;
    font-size: 30px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    @media screen and (min-width: 480px) {
      font-size: 34px;
    }
  }
}

// mobail-social

.mobile-social {
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
  margin-top: 64px;
  @media screen and (min-width: 480px) {
    gap: 20px;
  }
}

.mobail-social__item {
  position: relative;
}

.mobile-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mobile-social__link::after {
  @media screen and (max-width: 479px) {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 100%;
    width: 22px;
    height: 1px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
  }
}

.mobile-social__link--after:after {
  @media screen and (min-width: 480px) {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 100%;
    width: 22px;
    height: 1px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
  }
}
