body {
  font-family:  var(--main-font-family);
  font-size:  var(--main-font-size);
  letter-spacing:  var(--letter-spacing);
  color: var(--main-color);
  background-color:  var(--main-bg-color);
}
