.site-body {
    font-family: "Roboto", sans-serif;
    background: #ffffff;
  }
  .list {
    list-style: none;
    display: flex;
    gap: 30px;
  }
  .link {
    text-decoration: none;
  }
  .link:hover {
    color: #2196f3;
  }
  .link:focus {
    color: #2196f3;}