.header {
  border-bottom: 1px solid #ececec;
  position: relative;
}

.header__nav {
  display: flex;
  align-items: center;

  @media screen and (max-width: 1199px) {
    justify-content: space-between;
  }
}
.logo--black {
  color: #000000;
}

.menu-button {
  display: none;
  @media screen and (max-width: 767px) {
    display: block;
    margin-left: auto;
    padding: 10px 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
}
